<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.itwillbs.ifund.mapper.NoticeMapper">
 
 	<!-- 2023-05-16 박경은 - 관리자 보도자료목록 조회 -->
 	<select id="newsList" resultType="com.itwillbs.ifund.vo.NoticeVO">
		SELECT * 
		FROM news
		ORDER BY board_idx DESC
		LIMIT #{startRow}, #{listLimit}
	</select>
	<!-- 2023-05-16 박경은 - 관리자 보도자료목록 수 조회 -->
 	<select id="selectNewsListCount" resultType="int">
		SELECT COUNT(*)
		FROM news
	</select>
	<!-- 2023-05-16 박경은 - 관리자 보도자료 조회 -->
	<select id="selectNews"
		resultType="com.itwillbs.ifund.vo.NoticeVO">
		SELECT *
		FROM news
		WHERE board_idx = #{board_idx}
	</select>
	<!-- 2023-05-17 박경은 - 관리자 보도자료 수정 -->
	<update id="newsDetail">
		UPDATE news
			SET  board_subject = #{board_subject}
				,board_content = #{board_content}
				,board_file = #{board_file}
				,board_date = #{board_date}
			WHERE board_idx = #{board_idx}
	</update>
	
 	<!-- 2023-05-22 박경은 - 관리자 보도자료 삭제 -->
	<delete id="deleteNews">
		DELETE
			FROM news
			WHERE 
				board_idx = #{board_idx}
	</delete>
	
	<select id="getNoticeList" resultType="map">
		SELECT *
		FROM notice
		<if test="searchText != null">
			WHERE board_subject LIKE '%${searchText}%'
		</if>
	</select>
	
	<select id="getNoticeDetail" resultType="map">
		SELECT *
		FROM notice
		WHERE board_idx = #{board_idx}
	</select>
 	
 </mapper>