<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.ifund.mapper.PreorderMapper">
	<select id="selectPreorderProject"
		resultType="com.itwillbs.ifund.vo.ProjectListVO">
		SELECT
		DISTINCT
		p.project_idx, p.project_category, p.project_thumbnail, p.project_plan, pd.project_detail_person,
		pd.project_detail_amount, pd.project_detail_target, p.project_target, p.project_start_date,
		p.project_end_date, p.project_title, m.maker_name FROM project p
		INNER
		JOIN
		project_detail pd ON p.project_idx = pd.project_idx
		INNER
		JOIN
		maker m ON p.maker_idx = m.maker_idx
		WHERE
		p.project_approve_status = '2'
		AND
		p.project_type = '2'
		
		<if test="selectbox == 0">
			AND
			DATE_FORMAT(NOW(), '%Y-%m-%d') >= p.project_start_date
			AND
			p.project_end_date >= DATE_FORMAT(NOW(), '%Y-%m-%d')
		</if>
		<if test="selectbox == 1">
			AND
			DATE_FORMAT(NOW(), '%Y-%m-%d') >= p.project_end_date 
		</if>
<!-- 			AND -->
<!-- 			DATE_FORMAT(NOW(), '%Y-%m-%d') > p.project_end_date -->
		
		<if test="!category.equals('')">
			<choose>
				<when test="category.equals('00')">

				</when>
				<otherwise>
					AND project_category = #{category}
				</otherwise>
			</choose>
		</if>
		<if test="!order.equals('')">
			<choose>
				<when test="order.equals('인기순')">
					ORDER BY (pd.project_detail_amount /
					p.project_target * 100) DESC
				</when>
				<when test="order.equals('모집금액순')">
					ORDER BY pd.project_detail_amount DESC
				</when>
				<when test="order.equals('마감임박순')">
					ORDER BY p.project_end_date
				</when>
				<when test="order.equals('최신순')">
					ORDER BY project_start_date DESC
				</when>
			</choose>
		</if>
	</select>
	
</mapper>
